{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card p-4">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mb-4">Profil de {{ user.getFirstName() }} {{ user.getLastName() }}</h1>

                    <div class="profile-info">
                        <div class="mb-3">
                            <strong>Nom d'utilisateur :</strong> {{ user.getUsername() }}
                        </div>

                        <div class="mb-3">
                            <strong>Email :</strong> {{ user.getEmail() }}
                        </div>

                        {% if user.getBio() is not null %}
                            <div class="mb-3">
                                <strong>Biographie :</strong> {{ user.getBio() }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <strong>Date GDPR :</strong>
                            {% if user.getGdpr() or user.getUpdatedAt() %}
                                {{ user.getGdpr() ? user.getGdpr()|date('Y-m-d H:i:s') : user.getUpdatedAt()|date('Y-m-d H:i:s') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </div>

                       {#  <div class="mb-3">
                            <strong>Vérifié :</strong> {{ user.isIsVerified() ? 'Oui' : 'Non' }}
                        </div> #}

                        <div class="mt-4">
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier le Profil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
