{# templates/comment/comment_page.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}

    {# Ajoutez ici le formulaire pour ajouter un commentaire #}
    <div class="mt-4">
        {{ form_start(commentForm, {'attr': {'class': 'form'}}) }}
        {{ form_row(commentForm['content'], {'attr': {'class': 'form-control mb-2'}, 'label': 'Contenu du commentaire'}) }}
        {{ form_end(commentForm) }}
    </div>

 

{# <script>
async function deleteComment(commentId) {
    const isConfirmed = confirm("Voulez-vous vraiment supprimer ce commentaire ?");

    if (isConfirmed) {
        try {
            const response = await fetch(`/comment/delete/${commentId}`, {
                method: 'DELETE',
            });

            if (response.ok) {
                console.log("Commentaire supprimé avec succès.");

                // Retirez l'élément du DOM représentant le commentaire supprimé
                const commentElement = document.getElementById(`comment-${commentId}`);
                if (commentElement) {
                    console.log("Avant la suppression de l'élément DOM");
                    commentElement.remove();
                } else {
                    console.error("Élément du commentaire non trouvé dans le DOM.");
                }
            } else {
                console.error("Erreur lors de la suppression du commentaire :", response.statusText);
            }
        } catch (error) {
            console.error("Erreur générale :", error);
        }
    }
}

</script> #}



{% endblock %}
