{# templates/comment/comment_page.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}

    {# Ajoutez ici le formulaire pour ajouter un commentaire #}
    <div class="mt-4">
        {{ form_start(commentForm, {'attr': {'class': 'form'}}) }}
        {{ form_row(commentForm['content'], {'attr': {'class': 'form-control mb-2'}, 'label': 'Contenu du commentaire'}) }}
        {{ form_end(commentForm) }}
    </div>

 





{% endblock %}
