{# templates/comment/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }} - Commentaires
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <hr>

        {# Affichage du contenu de l'article, utilisez |raw si le contenu contient des balises HTML #}
        {{ article.content }}

        <hr>

        <h2>Commentaires</h2>
        <ul>
            {% for comment in comments %}
                <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>

        {# Formulaire pour ajouter un nouveau commentaire #}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
        {{ form_row(commentForm.submit) }}
        {{ form_end(commentForm) }}
    </div>
{% endblock %}
