<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog - {% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>'">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="d-flex flex-column">

<nav class="py-2 border-bottom menu-burger main-header">
    <h1 class="titre">
        <a class="fs-4" href="{{ path('app_accueil') }}">Progressive Code</a>
    </h1>
    <div class="personal-menu">
        <div class="dropdown ">
            <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mon Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
                <li>
                    <a class="dropdown-item" href="/admin">Tableau de bord</a>
                </li>
            </ul>
        </div>
        <div class="dropdown ">
            {# <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajouter
            </a> #}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
                <li>
                    <a class="dropdown-item" href="#">Article</a>
                </li>
                <li>{# <a class="dropdown-item" href="#">page</a> #}</li>
            </ul>
        </div>
        <ul class="nav nav-pills">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('user_edit', {'id': app.user.id}) }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_logout')}}">Se Déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{path('app_register')}}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_login')}}">Se Connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
