{% set article_show = path('article_show', {'slug': article.slug}) %}

<div class="container">
	<div class="row justify-content-center">
		<a class="text-decoration-none" href="{{ article_show }}">
			<div>
				<article class="mb-5">
					<div
						class="card">
						<!-- Div pour l'image ajustée à gauche -->
						<img
						src='/images/{{article.category.image}}' alt="Image de l'article" class="img-category">

						<!-- Div pour le reste du contenu de l'article -->
						<div class="article-datas">
							<h2 class="article-title">
								{{ article.title }}
							</h2>

							<div class="article-metadata">
								<p class="article-category">
									{{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}
								</p>
								<p class="article-date">
									{{ article.createdAt|format_datetime(locale='fr', pattern="dd MM YYYY") }}
									{# {{ article.createdAt}} #}

								</p>
							</div>
						</div>
					</article>
				</div>
			</a>
		</div>
	</div>
